/***** Base Styles *****/  
* {
    box-sizing: border-box; 
}

html,
body {
    background-color: $primary-bg-color; 
    color: $primary-text-color;
    font: $base-font;
}

h1,
h2,
h3,
h4{
    color: $accent-text-color;
}


h2 {
    text-transform: uppercase;
    font-size: $base-font-size;
    margin-bottom: 2em;
}

p {
    @extend %paragragh; 
}

a {
    color: $accent-text-color;
    font-weight: $anchor-weight; 
    text-decoration: none;
}

