// MEIDA QUERIES 

@mixin tablet {
    @media screen and (min-width: #{$tablet-width}) {
        @content; 
        
        %content-box-etd {
            padding-top: 3em;
            padding-bottom: 3em;
        }
    }
}

@mixin desktop {
    @media screen and (min-width: #{$desktop-width}) {
        @content; 
        
    }
}



@mixin content-box {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    
    @include tablet {
        padding-top: 3em; 
        padding-bottom: 3em;
    }
}